@import url(https://fonts.google.com/specimen/Kumbh+Sans);


:root {
  /*Primary colors*/
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 77%);
  /*Neutral colors*/
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-lightbox-background: hsl(0, 0%, 0%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Kumbh", sans-serif;
  border: none;
}

html{
  display: flex;
  justify-content: center;
}

body {
  width: 1440px;
}

header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.100);
}

.cart-and-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px 150px 30px 10px;
}

.avatar  img{
 width: 54px;
  border: solid 4px transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.avatar img:hover {
  border: solid 4px var(--orange);
  border-radius: 50%;

}

.cart-container {
  background-color: var(--Light-grayish-blue);
  position: absolute;
  width: 300px;
  min-height: 200px;
  translate: -50px 0px;
  margin-top: 280px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.249);
  display: none;
}

.cart-title {
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.100);
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
}

.empty-cart-text {
  padding: 50px;
}



.logo-and-nav {
  display: flex;
  gap: 50px;
}

.logo-header {
  margin: 40px 10px 30px 10px;
}

nav ul{
  list-style-type: none;
}

ul a{
  color: var(--dark-grayish-blue);
}

ul li{
  float: left;
  padding: 40px 0px 50px 0px;
  width: 100px;
  text-align: center;
  border-bottom: 4px solid transparent;
}

ul li:hover{
border-bottom: 4px solid;
border-color: var(--orange);
}


main{
  padding: 100px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 40px;
}

.product-image-large img{
  width: 500px;
  border-radius: 20px;
}

.product-image-thumbnails img{
  width: 100px;
  border-radius: 20px;
  border: 3px solid transparent;
}

.product-image-thumbnails img:hover{
  border: 3px solid var(--orange);
  opacity: 0.7;
}



.product-image-thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
}

.product-description-and-action-buttons {
  padding: 80px 90px 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.brand-name-link {
  color: var(--dark-grayish-blue);
  font-weight: 400;
}

.product-name {
  font-size: 40px;
  font-weight: 700;
}

.product-description {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

.price-container {
  display: flex;
  gap: 15px;
}

.discount {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 26px;
  border-radius: 6px;
  margin-top: 6px;
  padding: 2px 3px;
}
.discount p{
  color: white;
  font: 25px;
  font-weight: 700;
}


.price-final {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.price-start {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-right: 60px;
  gap: 15px;

}



.amount-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Light-grayish-blue);
  border-radius: 6px;
}

.amount-picker button{
  background-color: var(--Light-grayish-blue);
  color: var(--orange);
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 6px;
}

.amount-picker button:active{
  color: var(--pale-orange);
}

.amount-picker p{
  margin-top: 4px;
  font-weight: 700;
}

.add-to-cart-btn {
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 55px;
  cursor: pointer;
  border-radius: 6px;
}

.add-to-cart-btn:active{
  background-color: var(--pale-orange);
}

.add-to-cart-btn p{
  font-weight: 700;
}

.add-to-cart-btn img{
  width: 15px;
}